{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('product_index') }}" class="btn btn-secondary mt-2">Back to list</a>
{% endblock %}
