{% extends 'base.html.twig' %}

{% block title %}Реєстрація{% endblock %}

{% block body %}
    <h1>Реєстрація</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    <button type="submit">Зареєструватись</button>
    {{ form_end(registrationForm) }}
{% endblock %}
